@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

#app {
  font-family: 'Epilogue', sans-serif;;
  max-width: 1440px;
  max-height: 1vh;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  background-repeat: no-repeat;
}



